LOGIN=hboutale
MARIADB_USER=myuser
MARIADB_DATABASE=mydb
MARIADB_ROOT_PASSWORD=InceptionRoot42
MARIADB_PASSWORD=InceptionDb42
WORDPRESS_TITLE=Inception
WORDPRESS_URL=https://hboutale.42.fr
NGINX_HOST=hboutale.42.fr
WORDPRESS_ADMIN_USER=hboutale
WORDPRESS_ADMIN_EMAIL=hboutale@example.com
WORDPRESS_ADMIN_PASSWORD=hboutale42
WORDPRESS_USER=hbt
WORDPRESS_USER_EMAIL=hbt@example.com
WORDPRESS_USER_PASSWORD=hbt42
FTP_USER=ftpuser
FTP_PASSWORD=InceptionFtp42
