LOGIN=
MARIADB_USER=
MARIADB_DATABASE=
MARIADB_ROOT_PASSWORD=
MARIADB_PASSWORD=
WORDPRESS_TITLE=
WORDPRESS_URL=https://hboutale.42.fr
NGINX_HOST=
WORDPRESS_ADMIN_USER=
WORDPRESS_ADMIN_EMAIL=
WORDPRESS_ADMIN_PASSWORD=
WORDPRESS_USER=
WORDPRESS_USER_EMAIL=
WORDPRESS_USER_PASSWORD=
FTP_USER=
FTP_PASSWORD=
